In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1, 3, 6, np.nan, 44, 1])
print(s)

0     1
1     3
2     6
3   NaN
4    44
5     1
dtype: float64

In [8]:
dates = pd.date_range('20160101', periods=6)
print(dates)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a', 'b', 'c', 'd'])
print(df)

                   a         b         c         d
2016-01-01  2.145556  1.080001  1.263702  0.561911
2016-01-02 -0.464598 -0.000229 -1.277119 -0.322383
2016-01-03  0.589960  0.697407 -0.141688 -0.767909
2016-01-04 -0.335065  1.039624 -0.454441 -0.305337
2016-01-05 -0.788277  1.190764 -1.088651  1.120798
2016-01-06  0.483111 -1.476877  0.403963  0.588020

In [14]:
df1 = pd.DataFrame(np.arange(12).reshape(3, 4))
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [20]:
df2 = pd.DataFrame({
        'A': 1., 
        'B': pd.Timestamp('20161205'),
        'C': pd.Series(np.random.rand(4)),
        'D': np.arange(4),
        'E': 'string'
    })
df2

   A          B         C  D       E
0  1 2016-12-05  0.467033  0  string
1  1 2016-12-05  0.194389  1  string
2  1 2016-12-05  0.858281  2  string
3  1 2016-12-05  0.633035  3  string

In [23]:
print(df2.dtypes)
print(df2.index)
print(df.columns)

A           float64
B    datetime64[ns]
C           float64
D             int64
E            object
dtype: object
Int64Index([0, 1, 2, 3], dtype='int64')
Index(['a', 'b', 'c', 'd'], dtype='object')