In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 6, np.nan, 44, 1])
print(s)

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

In [3]:
dates = pd.date_range('20160101', periods=6)
print(dates)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a', 'b', 'c', 'd'])
print(df)

                   a         b         c         d
2016-01-01 -0.899363  0.007267  1.035614  0.013185
2016-01-02  0.013345 -0.419892 -1.925532 -0.889639
2016-01-03  0.267722 -2.577149  1.846021  0.356070
2016-01-04  0.975215  2.128603  0.335085  0.487860
2016-01-05  0.581288 -1.687507  0.216063 -0.386872
2016-01-06 -1.288730 -2.418596 -0.078538 -1.422868

In [5]:
df1 = pd.DataFrame(np.arange(12).reshape(3, 4))
print(df1)

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [6]:
df2 = pd.DataFrame({
        'A': 1., 
        'B': pd.Timestamp('20161205'),
        'C': pd.Series(np.random.rand(4)),
        'D': np.arange(4),
        'E': 'string'
    })
df2

     A          B         C  D       E
0  1.0 2016-12-05  0.234964  0  string
1  1.0 2016-12-05  0.031870  1  string
2  1.0 2016-12-05  0.618610  2  string
3  1.0 2016-12-05  0.894883  3  string

In [7]:
# print(df2.dtypes)
# print(df2.index)
# print(df2.columns)
print(df2.values)

[[1.0 Timestamp('2016-12-05 00:00:00') 0.23496447649529917 0 'string']
 [1.0 Timestamp('2016-12-05 00:00:00') 0.0318695771611901 1 'string']
 [1.0 Timestamp('2016-12-05 00:00:00') 0.6186097049044013 2 'string']
 [1.0 Timestamp('2016-12-05 00:00:00') 0.8948829525275236 3 'string']]

In [8]:
df2.describe()
df2.T

,0,1,2,3
A,1,1,1,1
B,2016-12-05 00:00:00,2016-12-05 00:00:00,2016-12-05 00:00:00,2016-12-05 00:00:00
C,0.234964,0.0318696,0.61861,0.894883
D,0,1,2,3
E,string,string,string,string

In [9]:
df2.sort_index(axis=1, ascending=False)
df2.sort_index(axis=0, ascending=False)
df2.sort_values('C')

     A          B         C  D       E
1  1.0 2016-12-05  0.031870  1  string
0  1.0 2016-12-05  0.234964  0  string
2  1.0 2016-12-05  0.618610  2  string
3  1.0 2016-12-05  0.894883  3  string