In [2]:
import numpy as np
import pandas as pd

In [4]:
dates = pd.date_range('20151205', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6, 4)), index=dates, columns=['A', 'B', 'C', 'D'])
df

             A   B   C   D
2015-12-05   0   1   2   3
2015-12-06   4   5   6   7
2015-12-07   8   9  10  11
2015-12-08  12  13  14  15
2015-12-09  16  17  18  19
2015-12-10  20  21  22  23

In [9]:
df['A']
df.A
df[0:3]

            A  B   C   D
2015-12-05  0  1   2   3
2015-12-06  4  5   6   7
2015-12-07  8  9  10  11

In [13]:
# select by label: loc
df.loc['20151208']
df.loc[:, ['D', 'C']]
df.loc['20151205', ['D', 'C']]

D    3
C    2
Name: 2015-12-05 00:00:00, dtype: int64

In [20]:
# select by position: iloc
df.iloc[1:5, 1:4]

             B   C   D
2015-12-06   5   6   7
2015-12-07   9  10  11
2015-12-08  13  14  15
2015-12-09  17  18  19

In [ ]:
# mixed select: ix