In [1]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20161205', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6, 4)), index=dates, columns=['A', 'B', 'C', 'D'])
df

             A   B   C   D
2016-12-05   0   1   2   3
2016-12-06   4   5   6   7
2016-12-07   8   9  10  11
2016-12-08  12  13  14  15
2016-12-09  16  17  18  19
2016-12-10  20  21  22  23

In [4]:
df.iloc[0, 1] = df.iloc[1, 2] = np.nan
df

             A     B     C   D
2016-12-05   0   NaN   2.0   3
2016-12-06   4   5.0   NaN   7
2016-12-07   8   9.0  10.0  11
2016-12-08  12  13.0  14.0  15
2016-12-09  16  17.0  18.0  19
2016-12-10  20  21.0  22.0  23

In [7]:
# drop the row including nan
df.dropna(axis=0, how='any')
# df.dropna(axis=0, how='all')
df.dropna(axis=1, how='any')

             A   D
2016-12-05   0   3
2016-12-06   4   7
2016-12-07   8  11
2016-12-08  12  15
2016-12-09  16  19
2016-12-10  20  23

In [9]:
# fill na
df.fillna(value=-1000)

             A       B       C   D
2016-12-05   0 -1000.0     2.0   3
2016-12-06   4     5.0 -1000.0   7
2016-12-07   8     9.0    10.0  11
2016-12-08  12    13.0    14.0  15
2016-12-09  16    17.0    18.0  19
2016-12-10  20    21.0    22.0  23

In [12]:
np.any(df.isnull() == True)

True