In [2]:
import numpy as np
import pandas as pd

In [8]:
# merge two df by key
left = pd.DataFrame({'key':['k0', 'k1', 'k2', 'k3'], 
                     'A':['a0', 'a1', 'a2', 'a3'], 
                     'B':['b0', 'b1', 'b2', 'b3']})
right = pd.DataFrame({'key':['k0', 'k1', 'k2', 'k3'], 
                     'C':['c0', 'c1', 'c2', 'c3'], 
                     'D':['d0', 'd1', 'd2', 'd3']})

res = pd.merge(left, right, on='key')
res

    A   B key   C   D
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k2  c2  d2
3  a3  b3  k3  c3  d3

In [17]:
# consider two keys
left = pd.DataFrame({'key1':['k0', 'k0', 'k1', 'k2'], 
                     'key2':['k0', 'k1', 'k0', 'k1'],
                     'A':['a0', 'a1', 'a2', 'a3'], 
                     'B':['b0', 'b1', 'b2', 'b3']})
right = pd.DataFrame({'key1':['k0', 'k1', 'k1', 'k2'],
                      'key2':['k0', 'k0', 'k0', 'k0'],
                     'C':['c0', 'c1', 'c2', 'c3'], 
                     'D':['d0', 'd1', 'd2', 'd3']})

print(left)
print(right)
# how = ['left', 'right', 'outer', 'inner']
res = pd.merge(left, right, on=['key1', 'key2'], how='outer')
res

    A   B key1 key2
0  a0  b0   k0   k0
1  a1  b1   k0   k1
2  a2  b2   k1   k0
3  a3  b3   k2   k1
    C   D key1 key2
0  c0  d0   k0   k0
1  c1  d1   k1   k0
2  c2  d2   k1   k0
3  c3  d3   k2   k0

     A    B key1 key2    C    D
0   a0   b0   k0   k0   c0   d0
1   a1   b1   k0   k1  NaN  NaN
2   a2   b2   k1   k0   c1   d1
3   a2   b2   k1   k0   c2   d2
4   a3   b3   k2   k1  NaN  NaN
5  NaN  NaN   k2   k0   c3   d3

In [27]:
# indicator
df1 = pd.DataFrame({'col1':[0, 1], 'col_right':['a', 'b']})
df2 = pd.DataFrame({'col1':[1, 2, 2], 'col_right':[2, 2, 2]})

res = pd.merge(df1, df2, on='col1', how='outer', indicator=True)
print(res)
res = pd.merge(df1, df2, on='col1', how='outer', indicator='indicator_column')
print(res)

   col1 col_right_x  col_right_y      _merge
0     0           a          NaN   left_only
1     1           b          2.0        both
2     2         NaN          2.0  right_only
3     2         NaN          2.0  right_only
   col1 col_right_x  col_right_y indicator_column
0     0           a          NaN        left_only
1     1           b          2.0             both
2     2         NaN          2.0       right_only
3     2         NaN          2.0       right_only

In [35]:
# merged by index
left = pd.DataFrame({'A':['A0', 'A1', 'A2'], 
                     'B':['B0', 'B1', 'B2']}, 
                     index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C':['C0', 'C1', 'C2'], 
                      'D':['D0', 'D1', 'D2']}, 
                      index=['K0', 'K2', 'K3'])
print(left)
res = pd.merge(left, right, left_index=True, right_index=True, how='outer')
res

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

In [39]:
# handle overlapping
boys = pd.DataFrame({'k':['k0', 'k1', 'k2'], 
                    'age':[1, 2, 3]})
girls = pd.DataFrame({'k':['k0', 'k0', 'k3'], 
                    'age':[4, 5, 6]})
print(boys)
print(girls)
res = pd.merge(boys, girls, on='k', suffixes=['_boys', '_girls'], how='outer')
res

   age   k
0    1  k0
1    2  k1
2    3  k2
   age   k
0    4  k0
1    5  k0
2    6  k3

   age_boys   k  age_girls
0       1.0  k0        4.0
1       1.0  k0        5.0
2       2.0  k1        NaN
3       3.0  k2        NaN
4       NaN  k3        6.0